:root{
    --imgsz : 200px;
    --imgsz-sm: 50px;
}

*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.title{
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}
#score-cont{
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text-imp{
    text-align: center;
    flex-basis: 100%;
    display: inline;
}
#score-box{
    border: 1px white solid;
    position: relative;
    bottom: 30px;
    padding: 15px;
    border-radius: 3px;

}
#pScore, #cScore{
    display: inline;
    font-size: 3rem; 
}
.score-img{
    width: var(--imgsz-sm);
    height: var(--imgsz-sm);
    z-index: 5;
    margin-top: 5px;
}
.choice-head{
    text-align: center;
    font-size: 3rem;
}
#choices{
    display: flex;
    justify-content: center;
    gap: 25px
}
.choice-img{
    width: var(--imgsz);
    height: var(--imgsz);
}
.choice-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px white solid;
    border-radius: 30px;
    padding:10px;
}
.choice-info{
    font-size: 1.5rem;
    margin: 20px;
}
#info{
    display: flex;
    justify-content: center;

}
#score-info{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-title{
    flex-basis: 100%;
    margin-top: 50px;
}
#game-info-main{
    border: 1px white solid;
    border-radius: 3px;
    line-height: 5px;
    position: relative;
    bottom : 15px;
    padding: 10px;
    padding-bottom: 0px;

    width: 280px;
    height: 100px;
}
